<template name="selectCampaign">

  <ol class="breadcrumb">
    {{# if activeCampaignName}}
      <li><a href="#" data-toggle="modal" data-target="#selectCampaign"><i class="fa fa-level-up"></i>{{activeCampaignName}}</a></li>
      <li class="active">{{_ here}}</li>
    {{else}}
      <li><a href="#" data-toggle="modal" data-target="#selectCampaign"><i class="fa fa-level-up"></i>{{_"select campaign"}}</a></li>
    {{/if}}
  </ol>

  <div class="modal fade" id="selectCampaign" tabindex="-1" role="dialog" aria-labelledby="selectCampaignModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="selectCampaignModalLabel">{{_"select campaign"}}</h4>
        </div>

        <ul class="products-list">
          {{#each campaigns}}
          <li class="item">
            <div class="product-info">
              <a href="#" class="product-title campaign-item" data-id="{{_id}}">{{name}}</a>
              <span class="product-description">{{description}}</span>
            </div>
          </li>
          {{/each}}
        </ul>

      </div>
    </div>
  </div>
</template>
