<template name="selectCampaign">

  <ol class="breadcrumb">
    {{# if activeCampaignName}}
      <li><a href="#" data-toggle="modal" data-target="#selectCampaign"><i class="fa fa-level-up"></i>{{activeCampaignName}}</a></li>
      <li class="active">{{_ here}}</li>
    {{else}}
      <li><a href="#" data-toggle="modal" data-target="#selectCampaign"><i class="fa fa-level-up"></i>{{_"select campaign"}}</a></li>
    {{/if}}

  </ol>

  <div class="modal fade" id="selectCampaign" tabindex="-1" role="dialog" aria-labelledby="selectCampaignModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="selectCampaignModalLabel">{{_"add campaign"}}</h4>
        </div>

        <div class="modal-body">
          {{> tabular table=TabularTables.Campaigns class="table table-hover responsive"}}
        </div>

      </div>
    </div>
  </div>
</template>
